@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');



.contact{
text-align: center;
}

h1{
  font-family: 'League Spartan', sans-serif;
}

p{
  font-family: 'League Spartan', sans-serif;
}


.main-container{
display: flex;
justify-content:center ;
margin: 50px;
}

.container{
margin-top: 25px;

}

.box{
  width: 100%;
  border: 1px solid black;
  height: 40px;
  margin-bottom: 10px;
}

.box-message{
  height: 150px ;
}

