@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');




main{
    background-color: black;
}



.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    background-color: white;
}

.contact-infomation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;

}

.contact-name{
    text-decoration: none;
    list-style: none; 
}




.input-box {
    width: 400px;
    height: 40px;
    margin: 5px;
    border: 1px solid black;
    width: 350px;
  }

.input-box-message{
    width: 400px;
    height: 250px;
    margin: 5px;
    border: 1px solid black;
    text-justify: auto;
    font-size: 18px;
    width: 350px;

  }
  
button {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }